### Validator Configuration
VALIDATOR_ADDRESS=Hex Address
BROADCASTER_ADDRESS=axelarXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AMPD_ADDRESS=axelarXXXXXXXXXXXXXXXXXXXXXXXXXXXX
VALIDATOR_MONIKER="My Validator"
CHAIN_ID=axelar-dojo-1

### RPC Node Configuration
RPC_ENDPOINT=http://IP:PORT
AXELAR_API_ENDPOINT=http://IP:PORT

### Chain Monitoring
# List of EVM chains to monitor (comma-separated)
# If not specified, all mainnet chains will be checked by default
# ethereum,binance,polygon,avalanche,fantom,moonbeam,arbitrum,optimism,base,mantle,celo,kava,filecoin,linea,centrifuge,scroll,immutable,fraxtal,blast
EVM_SUPPORTED_CHAINS=
# List of AMPD chains to monitor (comma-separated)
# flow,stellar,sui,xrpl,xrp-evm
AMPD_SUPPORTED_CHAINS=

### Alert Configuration
# Block and Heartbeat Alerts
ALERT_NO_NEW_BLOCK_DELAY=2
#ALERT_CONSECUTIVE_BLOCKS_THRESHOLD: Triggers an alert if your validator misses this number of consecutive blocks.
ALERT_CONSECUTIVE_BLOCKS_THRESHOLD=5
#ALERT_CONSECUTIVE_HEARTBEATS_THRESHOLD: Triggers an alert if your validator misses this number of consecutive heartbeats.
ALERT_CONSECUTIVE_HEARTBEATS_THRESHOLD=3
#ALERT_SIGN_RATE_THRESHOLD: Triggers an alert if your validator's block signing rate falls below this percentage. The rate is calculated over the last 35,000 blocks.
ALERT_SIGN_RATE_THRESHOLD=98.5
#ALERT_HEARTBEAT_RATE_THRESHOLD: Triggers an alert if your validator's heartbeat success rate falls below this percentage. The rate is calculated over the last 700 heartbeats.
ALERT_HEARTBEAT_RATE_THRESHOLD=98.0

# Alert configuration - EVM and AMPD
#ALERT_CONSECUTIVE_EVM_VOTES_THRESHOLD: Triggers an alert if your validator misses this number of consecutive EVM votes.
ALERT_CONSECUTIVE_EVM_VOTES_THRESHOLD=5
#ALERT_EVM_VOTE_RATE_THRESHOLD: Triggers an alert if your validator's EVM vote success rate falls below this percentage. The rate is calculated over the last 200 EVM votes.
ALERT_EVM_VOTE_RATE_THRESHOLD=98.0
#ALERT_CONSECUTIVE_AMPD_VOTES_THRESHOLD: Triggers an alert if your AMPD misses this number of consecutive votes.
ALERT_CONSECUTIVE_AMPD_VOTES_THRESHOLD=5
#ALERT_AMPD_VOTE_RATE_THRESHOLD: Triggers an alert if your AMPD vote success rate falls below this percentage. The rate is calculated over the last 200 AMPD votes.
ALERT_AMPD_VOTE_RATE_THRESHOLD=98.0
#ALERT_CONSECUTIVE_AMPD_SIGNINGS_THRESHOLD: Triggers an alert if your AMPD misses this number of consecutive signings.
ALERT_CONSECUTIVE_AMPD_SIGNINGS_THRESHOLD=5
#ALERT_AMPD_SIGNING_RATE_THRESHOLD`: Triggers an alert if your AMPD signing success rate falls below this percentage. The rate is calculated over the last 200 AMPD signings.
ALERT_AMPD_SIGNING_RATE_THRESHOLD=98.0

# Discord notification configuration
DISCORD_ALERTS_ENABLED=false
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your-webhook-url

# Telegram notification configuration
TELEGRAM_ALERTS_ENABLED=false
TELEGRAM_BOT_TOKEN=your-bot-token
TELEGRAM_CHAT_ID=your-chat-id

# BackendServer configuration
PORT=3001
# Backend Server URL for frontend -> backend connections
NEXT_PUBLIC_SERVER_URL=http://YOUR_SERVER_IP:3001

