# BackendServer configuration
PORT=3001
# Backend Server URL for frontend -> backend connections
SERVER_URL=http://YOUR_SERVER_IP:3001

# RPC Endpoints
RPC_ENDPOINT=
# API Endpoints 
AXELAR_API_ENDPOINT=

# Validator identifiers
VALIDATOR_ADDRESS=Hex Address
VALIDATOR_MONIKER="My Validator"
CHAIN_ID=axelar-dojo-1

# Broadcaster address for heartbeats 
BROADCASTER_ADDRESS=axelarXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# List of EVM chains to monitor (comma-separated)
# If not specified, all mainnet chains will be checked by default
# ethereum,binance,polygon,avalanche,fantom,moonbeam,arbitrum,optimism,base,mantle,celo,kava,filecoin,linea,centrifuge,scroll,immutable,fraxtal,blast
EVM_SUPPORTED_CHAINS=

# AMPD configuration
AMPD_SUPPORTED_CHAINS=flow,stellar,sui
AMPD_ADDRESS=axelarXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Alert configuration - Blocks and Heartbeats
ALERT_CONSECUTIVE_BLOCKS_THRESHOLD=3
ALERT_CONSECUTIVE_HEARTBEATS_THRESHOLD=2
ALERT_SIGN_RATE_THRESHOLD=98.5
ALERT_HEARTBEAT_RATE_THRESHOLD=98.0

# Alert configuration - EVM and AMPD
ALERT_CONSECUTIVE_EVM_VOTES_THRESHOLD=3
ALERT_CONSECUTIVE_AMPD_VOTES_THRESHOLD=3
ALERT_CONSECUTIVE_AMPD_SIGNINGS_THRESHOLD=3

# Discord notification configuration
DISCORD_ALERTS_ENABLED=true
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your-webhook-url

# Telegram notification configuration
TELEGRAM_ALERTS_ENABLED=true
TELEGRAM_BOT_TOKEN=your-bot-token
TELEGRAM_CHAT_ID=your-chat-id
